<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{main.css}" rel="stylesheet">

    <title>Tilføj Turistattraktion</title>
</head>
<body>
<h1> Tilføj touristattraktion</h1>
<form th:action="@{/attractions/save}" method="post" th:object="${touristAttraction}">
    <label for="name">Navn: </label>
    <input id="name" type="text" th:field="*{name}">
    <br>
    <label for="beskrivelse">Beskrivelse: </label>
    <input id="beskrivelse" type="text" th:field="*{description}">
    <br>
    <label for="by">By:</label>
    <select id="by" name="by" th:field="*{by}">
        <option th:each="c : ${cityList}"
                th:value="${c}"
                th:text="${c}">
        </option>
    </select>
    <br>
    <label>Tags:</label>
    <div th:each="tag : ${tagsList}">
        <input type="checkbox"
               th:field="*{tagList}"
               th:value="${tag}" >
        <label th:text="${tag}"></label>
    </div>
    <button type="submit">Ok</button>
</form>
<a th:href="@{/attractions}"> <button> Fortryd </button></a>

</body>
</html>